@charset "utf-8";

/* CSS Document */
*{margin:0;padding:0}
body{font-size:14px;font-family:arial;-webkit-text-size-adjust:none;background:#f3f3f3;color:#333;/* max-width:640px;*/}
table{border-collapse:collapse;border-spacing:0}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
ul,ol,li{list-style:none;}
em{font-style:normal}
img{border:none;}
input,img{vertical-align:middle;}
q:before,q:after{content:''}
a{color:#333;text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0);cursor:pointer;}
a:active{color:#333;-webkit-tap-highlight-color:rgba(0,0,0,0);}
section,aside,header,footer,hgroup,article{display:block}

/*网页样式重置reset*/
html{font-size:1em;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight:rgba(0,0,0,0);-webkit-text-size-adjust:none;}

/*body { font-size:0.75em}*/
label{cursor:pointer}
a:link,a:visited{text-decoration:none}
input,button,select,textarea{outline:none}
textarea{resize:none;}
a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,menu,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{margin:0;padding:0}
article,aside,footer,header,hgroup,nav,section,figure,figcaption{display:block}

/*html5设置*/
h1,h2,h3,h4,h5,h6,th,td,table,input,button,select,textarea,sub{font-size:1em}
body,input,button,select,textarea,sub{font-family:Arial,sans-serif}
em,cite,address,optgroup{font-style:normal}
kbd,samp,code{font-family:monospace}
img,input,button,select,textarea{vertical-align:middle}
ul,ol{list-style:none}
img,fieldset{border:0}
abbr,acronym{cursor:help;border-bottom:1px dotted black}
table /*{	width:100%;*/ border-spacing:0;border:0}
table th,table td{border:0}

/*legend, hr { overflow:hidden; position:absolute; top:0; left:0}
legend, hr, caption { visibility:hidden; font-size:0; width:0; height:0; line-height:0}*/

/*------------------------------------------------------------------------------------------------------------------------------*/

/*统一share样式*/
html{width:100%;height:100%;font-family:Arial,Helvetica,sans-serif,"微软雅黑","黑体";}
body{margin:0 auto;color:#333;width:100%;font-family:Arial,Helvetica,sans-serif,"微软雅黑","黑体";background-size:auto;position:relative;}
.clear{clear:both;}
body{background:#ec3121;width:100%;height:100%;overflow:hidden;}
html{font-size:6.25%;/*100 ÷ 16 × 100% = 6.25%*/-ms-touch-action:none;/* 禁止winphone默认触摸事件 */}
html{position:relative;width:100%;height:100%;overflow:hidden;}

/*index */
.contents{height:12.06rem;overflow:auto;}
.sg_ban01{background:url("../images/sgdxd/sg_ban01.jpg") top center no-repeat;height:1.93rem;background-size:100% 100%;}
.sg_ban02{background:url("../images/sgdxd/sg_ban02.jpg") top center no-repeat;height:1.8rem;background-size:100% 100%;}
.sg_ban03{background:url("../images/sgdxd/sg_ban03.jpg") top center no-repeat;height:8.33rem;background-size:100% 100%;position:relative;overflow:auto;}
.sg_jl_ul{}
.sg_jl_ul li{background:url("../images/sgdxd/sg_dbtn.png") top center no-repeat;height:2.13rem;width:0.98rem;background-size:100% 100%;}
.jl_lf{margin-left:0.1rem;float:left;}
.jl_rg{margin-right:0.1rem;float:right;}
.lf_gzwz{width:0.35rem;height:1.24rem;margin:0.33rem auto 0;}
.lf_gzwz img{width:100%;height:100%;}
.rg_gzwz{width:0.35rem;height:1.24rem;margin:0.33rem auto 0;}
.rg_gzwz img{width:100%;height:100%;}
.sg_box{width:7rem;position:relative;margin:0 auto;height:6.45rem;}
.sg_pmjs{background:url("../images/sgdxd/sg_dp.png") top center no-repeat;width:2.02rem;height:1.73rem;background-size:100% 100%;position:absolute;right:0.05rem;top:0.7rem;}
.sg_pmjs .sg_js01{width:0.39rem;height:0.76rem;padding-top:0.4rem;margin-left:1.4rem;}
.sg_pmjs .sg_js01 img{width:100%;height:100%;}
.sg_b01{width:2.39rem;height:2.7rem;position:absolute;left:1.15rem;top:0;}
.sg_b01 img{width:100%;height:100%;}
.sg_b02{width:2.39rem;height:2.7rem;position:absolute;left:3.45rem;top:0;}
.sg_b02 img{width:100%;height:100%;}
.sg_b03{width:2.39rem;height:2.7rem;position:absolute;left:2.3rem;top:2.02rem;}
.sg_b03 img{width:100%;height:100%;}
.sg_b04{width:2.39rem;height:2.7rem;position:absolute;left:0;top:2.02rem;}
.sg_b04 img{width:100%;height:100%;}
.sg_b05{width:2.39rem;height:2.7rem;position:absolute;left:1.15rem;top:4.04rem;}
.sg_b05 img{width:100%;height:100%;}
.sg_b06{width:2.39rem;height:2.7rem;position:absolute;left:3.45rem;top:4.04rem;}
.sg_b06 img{width:100%;height:100%;}
.sg_b07{width:2.39rem;height:2.7rem;position:absolute;left:4.6rem;top:2.02rem;}
.sg_b07 img{width:100%;height:100%;}

/*.sg_dw01{ position: absolute; width: 2.2rem; height: 1.30rem; background: #123456; top: 0.7rem; left: 0.1rem;}*/
.sg_dw01{position:absolute;left:0.3rem;width:1.8rem;height:1.8rem;top:0.4rem;border-radius:2rem;}
.sg_sy_01{text-align:center;font:0.3rem/0.36rem "微软雅黑";color:#f4b724;}
.sg_sy_01 span{font:0.36rem/0.36rem "微软雅黑";}
.sg_start{position:relative;z-index:1;background:url("../images/sgdxd/sg_start.png") center center no-repeat;width:3.38rem;height:0.93rem;background-size:100% 100%;margin:0.08rem auto 0;}

/*index end*/

.lb_wrap{display:none;}
.lightbox_bg{background:#000;filter:alpha(opacity=70);opacity:.7;position:absolute;left:0;top:0;width:100%;height:100%;z-index:2;}
.lightbox{position:absolute;left:0;top:0%;width:100%;z-index:3;text-align:center;}
.lightbox img{width:78%;}
.lightbox p{position:absolute;height:61px;width:38px;top:50%;left:0;z-index:3;background:transparent url(../images/sgdxd/themes.png) no-repeat left top;margin-top:-30.5px;cursor:pointer;}
.lightbox p.next{left:auto;background-position:right top;right:0;}
@media screen and (max-height:532px){
	body{overflow:auto;height:auto;width:auto;}
	html{overflow:auto;height:auto;width:auto;}
	.sg_ban04{background:url("../images/sgdxd/sg_ban04.png") bottom center no-repeat;height:1.43rem;background-size:100% 100%;position:absolute;bottom:0;width:100%;}
	.lightbox img{width: 74%;}
}
@media screen and (min-height:533px){
.sg_ban05{background:url("../images/sgdxd/sg_ban04.png") bottom center no-repeat;height:1.43rem;background-size:100% 100%;position:absolute;bottom:0;width:100%;}
}
/*弹框——规则*/
.gz{padding-top:1.2rem;position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.7);z-index:5;}
.gz_bg{position:relative;margin:0 auto;width:6.55rem;height:9rem;background:url("../images/sgdxd/tk_gz_bg.png");background-size:100% 100%;}
.gz_gb{position:absolute;top:1rem;right:0;width:0.64rem;}
.yjjx{position:absolute;top:2.8rem;left:1.4rem;width:3.7rem;height:0.6rem;background:#d44329;border:1px solid #fff;border-radius:2rem;}
.yjjx li{float:left;width:45%;height:100%;line-height:0.62rem;text-align:center;font-size:0.3rem;color:#fff;}
.yjjx .gz_active{padding:0;width:55%;background:#fff;border-radius:2rem;color:#e7472d;}
.tk_gz{overflow:scroll;padding:0 0.5rem 0 0.78rem;position:absolute;top:3.7rem;left:0;height:5rem;font-size:0.3rem;color:#fff;text-align:justify;letter-spacing:0.022rem;font-family:"微软雅黑";}
.tk_gz p{position:relative;}
.tk_gz span{position:absolute;top:0;left:-0.35rem;}
//game page style start
.item{-webkit-tap-highlight-color:rgba(255,0,0,0)}
.on{background:url("../images/sgdxd/xz.png") no-repeat;background-size:auto 100%;-moz-animation:person-slow .2s steps(12) 1 forwards;  /*发生了3次位移steps就是3*/-ms-animation:person-slow .2s steps(12) 1 forwards;-o-animation:person-slow .2s steps(12) 1 forwards;-webkit-animation:person-slow .2s steps(12) 1 forwards;  /*发生了3次位移steps就是3*/animation:person-slow .2s steps(12) 1 forwards;}
@-moz-keyframes person-slow{
0%{background-position:0% 0%;}
100%{background-position:100% 0%;}
}
@-ms-keyframes person-slow{
0%{background-position:0% 0%;}
100%{background-position:100% 0%;}
}
@-o-keyframes person-slow{
0%{background-position:0% 0%;}
100%{background-position:100% 0%;}
}
@-webkit-keyframes person-slow{
0%{background-position:0% 0%;}
100%{background-position:100% 0%;}
}
@keyframes person-slow{
0%{background-position:0% 0%;}
100%{background-position:100% 0%;}
}
.box_top,.box_bottom{position:relative;}
.box_top > .bg_01,.box_bottom > .bg_02{width:100%;}
.box_top .time_box{position:absolute;left:24%;top:0;width:51.5%;height:23%;background:url('../images/sgdxd/time.png') center no-repeat;background-size:100% 100%;}
.time_box .time_down{font-size:0.54rem;color:#ffcd56;display:block;margin:10.5% 0 0 36.2%;}
.record_box{width:100%;position:absolute;top:25.5%;left:0;}
.record_box p{text-align:center;font-weight:600;}
.record_box .total_gp{font-size:0.3rem;color:#957f6b;}
.record_box .yet_gp{margin-top:0.2rem;font-size:0.34rem;color:#f13025;}
.gp_box{position:absolute;top:-1.7rem;left:6.3%;width:86.7%;height:auto;}
.gp_box .zgp_img{width:100%;}
.new_year,.temple_fair,.new_year_call{position:absolute;top:0;left:0;width:100%;}
.new_year .item{width:1rem;height:1rem;position:absolute;top:0;left:0;}
.new_year .item:nth-child(1){top:-1.6rem;left:0.4rem;}
.new_year .item:nth-child(2){width:0.7rem;height:0.7rem;top:0.95rem;left:0.65rem;}
.new_year .item:nth-child(3){width:0.65rem;height:0.65rem;top:1.08rem;left:1.18rem;}
.new_year .item:nth-child(4){top:1.6rem;left:5.1rem;}
.new_year .item:nth-child(5){width:0.8rem;height:0.8rem;top:2.6rem;left:3.2rem;}
.new_year .item:nth-child(6){top:3.25rem;left:4.4rem;}
.new_year .item:nth-child(7){top:4rem;left:2.48rem;width:0.8rem;height:0.8rem;}
.temple_fair .item{width:1rem;height:1rem;position:absolute;top:0;left:0;}
.temple_fair .item:nth-child(1){top:-0.9rem;left:3.025rem;}
.temple_fair .item:nth-child(2){width:0.8rem;height:0.8rem;top:3.25rem;left:3.46rem;}
.temple_fair .item:nth-child(3){width:0.8rem;height:0.8rem;top:2.2rem;left:2.2rem;}
.temple_fair .item:nth-child(4){width:0.8rem;height:0.8rem;top:3.13rem;left:5.62rem;}
.temple_fair .item:nth-child(5){width:0.8rem;height:0.8rem;top:4.4rem;left:5.66rem;}
.temple_fair .item:nth-child(6){width:0.8rem;height:0.8rem;top:5.1rem;left:4.4rem;}
.temple_fair .item:nth-child(7){top:2.65rem;left:4.6rem;}
.temple_fair .item:nth-child(8){top:4.48rem;left:2.56rem;}
.new_year_call .item{width:1rem;height:1rem;position:absolute;top:0;left:0;}
.new_year_call .item:nth-child(1){top:-0.255rem;left:3.75rem;}
.new_year_call .item:nth-child(2){top:0.2rem;left:1.82rem;}
.new_year_call .item:nth-child(3){top:1.53rem;left:4.35rem;}
.new_year_call .item:nth-child(4){top:2rem;left:1.07rem;}
.new_year_call .item:nth-child(5){top:3.3rem;left:2.51rem;width:0.8rem;height:0.8rem;}
.new_year_call .item:nth-child(6){top:4.2rem;left:5.92rem;width:0.7rem;height:0.7rem;}
.new_year_call .item:nth-child(7){top:4.95rem;left:5.61rem;width:0.7rem;height:0.7rem;}
.new_year_call .item:nth-child(8){top:4.68rem;left:4.25rem;width:0.7rem;height:0.7rem;}
.new_year_call .item:nth-child(9){top:5.15rem;left:1.73rem;width:0.7rem;height:0.7rem;}

/*找到了*/
.tk_bg{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.7);}
.tk_bg .chb{margin:2.3rem auto 0;width:6.38rem;height:6.49rem;background-size:100% 100%;text-align:center;}
.tk_bg .btn_chb{position:relative;}
.tk_bg .btn_chb img,.tk_bg .pass_again img{width:100%;}
.tk_bg .pass_again{width:3rem;height:0.79rem;margin:0 auto;position:absolute;bottom:0.4rem;left:1.7rem;}

/*弹框——抢红包*/
.tk_bg1{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.7);}
.tk_bg1 .chb{margin:2.3rem auto 0;width:6.38rem;height:6.49rem;background-size:100% 100%;text-align:center;}
.tk_bg1 .btn_chb{position:relative;}
.tk_bg1 .btn_chb img,.tk_bg1 .pass_again img{width:100%;}
.tk_bg1 .pass_again{width:3rem;height:0.79rem;margin:0 auto;position:absolute;bottom:0.4rem;left:1.7rem;}

/*弹框——抢红包*/
.tk_bg2{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.7);}
.tk_bg2 .chb{margin:2.3rem auto 0;width:6.38rem;height:6.49rem;background-size:100% 100%;text-align:center;}
.tk_bg2 .btn_chb{position:relative;}
.tk_bg2 .btn_chb img,.tk_bg2 .pass_again img{width:100%;}
.tk_bg2 .pass_again{width:100%;position:absolute;bottom:0.5rem;left:0;}
.tk_bg2 .pass_again img{width:2.59rem;height:0.68rem;margin:0 0.2rem;}
.tk_bg2 .btn_chb .money_sum{width:3.34rem;position:absolute;top:2rem;left:1.57rem;}