<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <script src="{{ url_for('static',filename='js/jquery.min.js')}}"></script>
    <script>
        $(function(){
            $(".btn").click(function(){
                $.ajax({
                   url:"/client_json/",
                   data:{"mydata": "test"},
                   success:function(data){
                      alert(data);
                   }
                });
             });
        });
    </script>
</head>
<body>
    admin->index

    <button class="btn">ajax</button>

</body>
</html>